:host{
  display: flex;
    justify-content: center;
    align-items: center;
  height: 100vh;
  width: 100vw;
}

.Form{
  max-width: 500px;
  .err{
    position: relative;
    top: -10px;
    font-size: 12px;
    padding: 0 0.5em;
    color: red;
  }

}

.Message{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  box-sizing: border-box;
  text-align: center;
}
.Btn{
  display: inline-block;
  width: 50%;
}

