@import "../variables";

.Input{
  display: block;
  margin-bottom: 1em;
  padding: 0.5em;
  border: none;
  border-bottom: 1px solid $grey;

  color: $main-color;
  outline: none;

  &:focus{
    border-color: $main-color;
  }

  font-family: $main-font;
}
